<div style="text-align: center;">
    <a href="#" onclick="this.jS.cellStyleToggle('styleBold'); return false;" title="Bold">
        <img alt="Bold" src="{{STATIC_URL}}js/sheet/images/text_bold.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleItalics'); return false;" title="Italic">
        <img alt="Italic" src="{{STATIC_URL}}js/sheet/images/text_italic.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleUnderline', 'styleLineThrough'); return false;" title="Underline">
        <img alt="Underline" src="{{STATIC_URL}}js/sheet/images/text_underline.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleLineThrough', 'styleUnderline'); return false;" title="Strike Through">
        <img alt="Strike Through" src="{{STATIC_URL}}js/sheet/images/text_strikethrough.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleLeft', 'styleCenter styleRight'); return false;" title="Align Left">
        <img alt="Align Left" src="{{STATIC_URL}}js/sheet/images/text_align_left.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleCenter', 'styleLeft styleRight'); return false;" title="Align Center">
        <img alt="Align Center" src="{{STATIC_URL}}js/sheet/images/text_align_center.png"/></a>
    <a href="#" onclick="this.jS.cellStyleToggle('styleRight', 'styleLeft styleCenter'); return false;" title="Align Right">
        <img alt="Align Right" src="{{STATIC_URL}}js/sheet/images/text_align_right.png"/></a>
    <a href="#" onclick="this.jS.merge(); return false;" title="Merge Cells">
        <img alt="Fill Down" src="{{STATIC_URL}}js/sheet/images/mergecell.png"/></a>
    <a href="#" onclick="this.jS.unmerge(); return false;" title="Un-Merge Cells">
        <img alt="Fill Down" src="{{STATIC_URL}}js/sheet/images/mergecell.png"/></a>
    

    <span class="colorPickers">
        <input title="Foreground color" class="colorPickerFont" style="background-image: url('{{STATIC_URL}}js/sheet/images/palette.png') ! important; width: 16px; height: 16px;"/>
        <input title="Background Color" class="colorPickerCell" style="background-image: url('{{STATIC_URL}}js/sheet/images/palette_bg.png') ! important; width: 16px; height: 16px;"/>
    </span>
    <a href="#" onclick="this.jS.calc(this.jS.i, true); return false;" title="Refresh Calculations">
        <img alt="Refresh Calculations" src="{{STATIC_URL}}js/sheet/images/arrow_refresh.png"/></a>
    <a href="#" onclick="this.jS.toggleFullScreen(); return false;" title="Toggle Full Screen">
        <img alt="Toggle Full Screen" src="{{STATIC_URL}}js/sheet/images/arrow_out.png"/></a><!--<a href="#" onclick="insertAt('jSheetControls_formula', '~np~text~'+'/np~');return false;" title="Non-parsed"><img alt="Non-parsed" src="{{STATIC_URL}}js/sheet/images/noparse.png"/></a>-->
</div>