<!DOCTYPE html>
{% load counter %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script type="text/javascript" src="{{STATIC_URL}}js/sheet/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sheet/parser/formula/formula.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sheet/jquery.sheet.js"></script>
    <script type="text/javascript">
        $.sheet.preLoad('{{STATIC_URL}}js/sheet/');
        $(function() {
            $('#sheetParent').sheet();
        });    

            /*var me = $('#sheetParent').bind('sheetCellEdited', function() {
                alert('A cell was edited!')
            }).sheet();
           jS = me.getSheet();
            $('.first_row').each(function(){
                var comeco = $(this).index();
                var fim = $(this).nextAll('.last_row').index();
                
                var formula = "=SUMIF(D"+comeco+":D"+fim+", 'MOD', G"+comeco+":G"+fim+")"
                setFormula(1, fim+2, 5, formula);

                formula = "=SUM(G"+comeco+":G"+fim+")";
                setFormula(1, fim+2, 7, formula);

                formula = "=SHEET1!G9*E"+(fim+2)
                setFormula(1, fim+3, 7, formula);

                formula = "=SHEET1!C9*(G"+(fim+2)+"+G"+(fim+3)+")"
                setFormula(1, fim+4, 7, formula);

                formula = "=SUM(G"+(fim+2)+":G"+(fim+4)+")";
                setFormula(1, fim+5, 7, formula);

                formula = "=G"+(fim+2)+"-E"+(fim+2)
                setFormula(1, fim+3, 5, formula);
            });*/




            /*function setFormula (sheet, row, col, val) {
                var cell = getCell(sheet, row, col);
                cell.formula = val;
                cell.calcLast = 0;
                jS.updateCellValue(sheet, row, col);
            }
            function getCell (sheet, row, col) {
                var cell = jS.spreadsheets[sheet][row][col];
                return cell;
            }
        });/*


    </script>
</head>
<body>
<div id="container">
<div id="sheetParent" title="Planilha de Orçamento" style="width: 1112px; height:100%;">
    <table title="Planilha de Orçamento">
        <colgroup>
            <col style="width: 110px; "/>
            <col style="width: 70px; "/>
            <col style="width: 510px; "/>
            <col style="width: 55px; "/>
            <col style="width: 55px; "/>
            <col style="width: 55px; "/>
            <col style="width: 110px; "/>
            <col style="width: 110px; "/>
        </colgroup>
        <tbody>
            <tr>
                <td class="styleBold styleCenter" rowspan="3" colspan="8">Planilha de Orçamento </td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="8"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">Obra:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="6">Estudo de Caso - Curso Engenharia Minuto - Preços TCPO 14 - Região São Paulo</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">Unidade Construtiva:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="6">não aplicado</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">Tipo de obra:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="6">Residencial</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">Endereço da obra:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="6">não aplicado</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">BDI:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="1">30%</td>
                <td style="background: rgb(221,217,195);" class="styleBold styleCenter" rowspan="1" colspan="3">Encargos Sociais</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="2">122%</td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleRight" rowspan="1" colspan="2">Preços expressos em:</td>
                <td style="display: none;"></td>
                <td rowspan="1" colspan="6">R$ (Real)</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="8"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="1">Código</td>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="2">Descrição</td>
                <td style="display: none;"></td>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="1">Un.</td>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="2">Quantidade</td>
                <td style="display: none;"></td>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="1">Preço unitário</td>
                <td style="background: rgb(221,217,195);" class="styleBold styleLeft" rowspan="1" colspan="1">Preço total</td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">02</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">SERVIÇOS PRELIMINARES</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">04</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">INFRA ESTRUTURA</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">05</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">SUPER ESTRUTURA</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">06</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">ALVENARIA</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">07</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">ESQUADRIAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">08</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">CORBERTURA</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">09</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">INSTALAÇÕES HIDRÁULICAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">09.01</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">INSTALAÇÕES HIDRÁULICAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">09.02</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">ESGOTO</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">09.03</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">PLUVIAL</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">09.04</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">LOUÇAS, METAIS E APARELHOS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">10</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">INSTALAÇÕES ELÉTRICAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">11</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">REVESTIMENTO</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">11.01</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">PAREDES INTERNAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">11.02</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">PAREDES EXTERNAS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">11.03</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">PISOS</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">11.04</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">TETO</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">12</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">PINTURA</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleBold styleRight" rowspan="1" colspan="1">13</td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2">SERVIÇOS COMPLEMENTARES</td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleBold styleLeft" rowspan="1" colspan="1"></td>       
            </tr>
            <tr>
                <td class="styleRight" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="2"></td>
                <td style="display: none;"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>
                <td class="styleLeft" rowspan="1" colspan="1"></td>       
            </tr>



        </tbody>
    </table>
    <table title="Composição de Preços">
        <colgroup>
            <col style="width: 90px; "/><!--78/3=26 -->
            <col style="width: 530px; "/>
            <col style="width: 50px; "/>
            <col style="width: 65px; "/>
            <col style="width: 104px; "/>
            <col style="width: 134px; "/>
            <col style="width: 104px; "/>
        </colgroup>
        <tbody>
            <tr>
                <td class="styleBold styleCenter" rowspan="3" colspan="7">Composição de Preços</td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="7"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
                <td style="display: none;"></td>
            </tr>
            <tr>
                <td>Código</td>
                <td>Descrição</td>
                <td>Un.</td>
                <td>Clas.</td>
                <td>Coef.</td>
                <td>Preço Un.</td>
                <td>Total</td>
            </tr>
            {% counter name="linha1" start=5 silent=True%}
            {% counter name="linha2" start=5 silent=True%}
            {% for composition in compositions %}
                <tr id="{{composition.code}}">
                    <td style="background: rgb(221,217,195);" class="styleBold">{{composition.code}}</td>
                    <td style="background: rgb(221,217,195);" class="styleBold description">{{composition.description}}</td>
                    <td style="background: rgb(221,217,195);" class="styleBold unit">{{composition.get_unit_display}}</td>
                    <td style="background: rgb(221,217,195);" class="styleBold"></td>
                    <td style="background: rgb(221,217,195);" class="styleBold"></td>
                    <td style="background: rgb(221,217,195);" class="styleBold"></td>
                    <td style="background: rgb(221,217,195);" class="styleBold"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                {% for coeficient in composition.compositioncoeficient_set.all %}
                    {% if forloop.first and forloop.last %}
                    <tr class="unique_row">
                    {% elif forloop.last %}
                    <tr class="last_row">
                    {% elif forloop.first %}
                    <tr class="first_row">
                    {% endif %}
                        <td>{{coeficient.inputs.code}}</td>
                        <td>{{coeficient.inputs.description}}</td>
                        <td>{{coeficient.inputs.get_unit_display }}</td>
                        <td>{{coeficient.inputs.classification}}</td>
                        <td>{{coeficient.coeficient}}</td>
                        <td data-celltype="currency">{{coeficient.inputs.unit_price}}</td>
                        <td data-celltype="currency" data-formula='=E{% counter name="linha1"%}*F{% counter name="linha2"%}'></td>
                    </tr>

                {% endfor %}
                <tr>
                    <td rowspan="1" colspan="7"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                <tr>
                    <td rowspan="1" colspan="3"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td>M.O.</td>
                    <td data-celltype="currency"></td>
                    <td>Total s/ Taxa (Unit.) :</td>
                    <td data-celltype="currency"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                <tr>
                    <td rowspan="1" colspan="3"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td>Outros</td>
                    <td data-celltype="currency"></td>
                    <td>Valor LS :</td>
                    <td data-celltype="currency"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                <tr>
                    <td rowspan="1" colspan="5"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td>Valor BDI :</td>
                    <td data-celltype="currency"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                <tr>
                    <td rowspan="1" colspan="5"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td>Valor Total c/ Taxa :</td>
                    <td data-celltype="currency"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
                <tr>
                    <td rowspan="1" colspan="7"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                </tr>
                {% counter name="linha1" silent=True%}
                {% counter name="linha2" silent=True%}
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
